.menu-container {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 17rem;
  height: 100vh;
  background-color: red !important;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0.5rem 1rem;
  z-index: 1030;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}

/* header {
  border: 1px solid blue;
  height: fit-content;
} */

header img {
  width: 9em;
  border: 8px solid rgb(216, 105, 105);
  border-radius: 6em;  
}


.menu-bar {
  list-style: none;
  padding-left: 0;
}

.menu-bar li {
  width: fit-content;
  margin: 2em auto;
}

.menu-bar li a{
  text-decoration: none;
  color: aliceblue;
}